body{
    background-color: aquamarine;
}
@keyframes chrome{
    0%{color:aquamarine}
    25%{color: blue;}
    50%{color: brown;}
    100%{color: blanchedalmond;}
}
#one{
    /* animation-name:chrome;
    animation-duration: 4s;
    animation-iteration-count:infinite; */
    animation: chrome 4s infinite;

}
#myheading{
    animation:slidein 5s infinite;

}
@keyframes slidein{
        from{
        transform: translatex(0);
        color: blue;
        }
        to{
        transform: translateX(900px);
        color: yellowgreen;
        }
}
#mydiv{
    width: 100px;
    background-color: rgb(28, 85, 134);
    height: 150px;
    color:;
    animation: rotate 5s infinite;
}
    @keyframes rotate{
        0%{transform: translateX(0) rotate(odeg);
            background-color: brown;
        }
        50%{transform: rotate(180deg);
        background-color:green;}

        100% {transform: rotate(360deg);
        background-color: aqua;
        transform:translateX(1000px);
        }
    }
    }


   