body{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container{
background-color: whitesmoke;
padding: 20px;
display: flex;
gap: 20px;

}
.service{
    border:1px solid green;
    background-color: bisque;
    flex:1;
}
/* adding responsives */
@media(max-width: 768px){
    body{
    background-color:rgb(187, 187, 16);
}
#container{
    flex-direction: column;
}}