body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: aquamarine;
    text-align: center;
    color:white;
    padding: 10px 0;
    background-image: url(../media/nature);
    background-size:cover;
}
nav ul{
    list-style-type: none;

}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: brown;
    padding: 10px;
    border-radius:5px;
}
nav ul li a:hover{
    color: red;
    background-color: aliceblue;
}
main{
    width:80%;
    margin:10px auto;
}
section{
    border:1px solid black;
    margin-bottom: 10px;
    padding:15px;
    box-shadow: 2px 2px 2px blueviolet;

}
h2{
    color: rgb(18, 95, 161);
}
h3{
    color: blueviolet;
}
.proj{
    background-color: aquamarine;
    border-radius: 5px;
     box-shadow:5px 5px 5px greenyellow ;
     margin-bottom:10px;
     padding:10px;
     border:1xp solid navy;
}
footer{
    background-color: grey;
    text-align:center;
    padding:10px 0;
    color:brown
}
#contact{
    text-align: center;
}